/**********************************************/
/*                 general                    */
/**********************************************/
:root{
    --main-color : #fb4646;
    --text-color : #171427;
    --bg-color   : #fff; 
    --main-font-size : 1.5rem;
}
*{
    font-family: 'Poppins', sans-serif , Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
    background: var(--bg-color);
    padding: 0;
    margin: 0;
}
body,.under-body{
    min-height: 100vh;
    height: 100%;
}
section{
    padding: 4rem .5rem 3rem;
}
a{
    text-decoration: none;
}
button,input{
    border: .5px solid #000;
    outline: none;
}
i,button,input{
    cursor: pointer;
}
img,.fw{
    width: 100%;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.c-pos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align{
    display: flex;
    align-items: center;
}
.justify{
    display: flex;
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.center{
    text-align: center;
}
.container{
    width: 95%;
    margin: auto;
}
.click{
    cursor: pointer;
}
.bold{
    font-weight: 600;
}
.quantity{
    max-width: 30px;
}
/**********************************************/
/*                 layOut                     */
/**********************************************/
.layOut{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: #eee;
    opacity: .6;
    z-index: 2;
    display: none;
}
/**********************************************/
/*                  aside                     */
/**********************************************/
aside{
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    min-width: 300px;
    height: 100vh;
    padding: 2rem .5rem;
    z-index:1;
    opacity: 0;
    transform: scale3d(0,1,1);
    transition-delay: 1.5s;
    transition: transform .2s , opacity .2s;
    transform-origin: top right;
    overflow-y: auto;
}
aside.move{
    opacity: 1;
    transform: scale3d(1,1,1);
}
aside h4{
    padding: 2rem 1rem;
}
/********card content************/
.card-content{
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}
/* card-box */
.card-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    padding-right: .5rem;
}
.card-box img:not(.cancel){
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: .7rem;
}
.card-box .details{
   display: grid;
   row-gap: .5rem;
   padding-left: 1rem;
   padding-bottom: 1.7rem;
   position: relative;
}
.card-product-price{
    font-weight: 500;
}
.card-box span{
    display: block;
}
.card-box .quantity{
    max-width: 30px;
    border: 1px solid var(--main-color);

}
.cancel{
    width:17px;
    height:20px;
    cursor: pointer;
}
/* total */
.total{
    justify-content: flex-end;
    gap: .5rem;
}
/* buy */
.buy{
    margin: 1.5rem auto 0;
    padding: .7rem 1.4rem;
    border-radius: .2rem;
    background: var(--main-color);
    color: #fff;
    border-color: #fff;
}
.buy:hover{
    background: var(--text-color);
}
/**********************************************/
/*                  header                    */
/**********************************************/
header{
    position: sticky;
    top : 0 ; left : 0;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
nav{
    padding: 1.1rem 0;
    justify-content: space-between;
}
nav a {
    font-size: 1.1rem;
}
nav .bx{
    font-size:var(--main-font-size);
}
header .add-card{
    bottom: 15px;
    right: 25px;
}
header .length{
    position: absolute;
    top: -10px;
    right: -15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: green;
    border-radius: 50%;
    color: #fff;
}
/**********************************************/
/*                      shop                  */
/**********************************************/
.shop{
    font-weight: 600px;
    margin-top: 1rem;
}
.shop h1{
    margin:1rem 0;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,auto));
    gap: 1rem;
}

.product-box{
    position: relative;
    border: 2px solid transparent;
}
.product-box:hover{
    padding: .7rem;
    transition:padding .5s ;
    border: 2px solid #222;
}
.product-box img{
    margin-bottom: .5rem;
}
small{
    font-weight: 600 ;
}
.add-card{
    position: absolute;
    bottom:10px;
    right:10px;
    width:20px;
    height:20px;
}
.add-card:hover{
    background: #222;
}
.beforeCalc{
    min-height: 10px;
    padding: 5px;
    border: 1px solid #000;
}
.add-more{
    display: inline-block;
    color: red;
    cursor: pointer;
    font-weight: 900;
    transform-origin: top left;
    transition: transform 1.2s , display .2s;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.none-add-more{
    transform: scale3d(0,1,1) !important;
}
.inline-add-more{
    transform: scale3d(1,1,1);
}
.add-more small{
    color:#bfbf0b;
    font-weight: 300;
    cursor: text;
}
/**********************************************/
/*                  modal                     */
/**********************************************/
.modal{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:calc(100% - 20px);
    max-width: 500px;
    height: 350px;
    padding: 10px;
    background: #333;
    z-index: 3;
    display: none;
}

.modal * {
    font-family:'tahuma Times New Roman', 'Times, serif';
}


.modal-close{
    position: absolute;
    right:-20px;
    top:-20px;
    height:40px;
    width:40px;
    font-size: 2.5rem;
    line-height:40px;
    border-radius: 50%;
    background: yellow;
    z-index: 4;
    cursor: pointer;
}

.modal-img-container{
    width: 100%;
    height: 300px;
}

.modal img{
    max-width:90vw;
    max-height:100%;
}

.modal footer{
    padding: 5px 10px;
}

